<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link href="main.css" rel="stylesheet" />
    <title>OSCE</title>
    <script src='https://code.angularjs.org/1.4.7/angular.js'></script>
    <script src='https://code.angularjs.org/1.4.7/angular-route.js'></script>
</head>

<body ng-app="myApp">

    <div class="navigation">
        <a href="#/">Home</a>
        <a href="#/osces/add">Write your own</a>
    </div>

    <div ng-view></div>

    <div id="mySidenav" class="sidenav" ng-class="isNavOpen ? 'w-250':'w-0'">
        <a href="" class="closebtn" ng-click="isNavOpen=!isNavOpen">&times;</a>
        <a href="#/geris">Aged Care</a>
        <a href="#/gp">General Practise</a>
        <a href="#/psych">Mental Health</a>
        <a href="#/obs">Obstetrics</a>
        <a href="#/paeds">Paediatrics</a>
    </div>
    <button class="navbutton" ng-click="isNavOpen=!isNavOpen">&#60;</button>


    <script src='app.js'></script>
    <script src='/controllers/osces.js'></script>

</body>

</html>
