<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link href="main.css" rel="stylesheet" />
    <title>OSCE</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">

    <h1>OSCE</h1>

    <div class="container">
        <form class="field" ng-submit="submit(name)">
            <p>Name</p>
            <input ng-model="name">
        </form>
        <form class="field" ng-submit="submit(age)">
            <p>Age</p>
            <input ng-model="age">
        </form>
    </div>
    <p class="field">{{list}}</p>

    <script src='app.js'></script>

</body>

</html>
